@import "./animation.scss";
@import "./window.scss";

@mixin light {
  --theme: light;

  /* color */
  --white: white;
  --white-chat: #FFFFFF;
  --sidebar-title: rgb(48, 48, 48);
  --black: rgb(48, 48, 48);
  --gray: rgb(250, 250, 250);
  --primary: rgba(42, 139, 242, 1);
  --primary-light: rgba(42, 139, 242, 1);
  // 主色-浅色
  --primary-tint: #7CB8F7;
  // 历史会话标题颜色
  --chat-item-title: rgba(51, 51, 51, 1);
  // chat-item选中标题
  --chat-item-title-active: rgba(42, 139, 242, 1);
  // chat-item日期信息颜色
  --chat-item-info: rgba(187, 187, 187, 1);
  --chat-item-info-active: rgba(112, 124, 151, 1);
  // 历史会话左边框
  --chat-left-border: rgba(42, 139, 242, 1);
  // 文件夹内容背景
  --folder-content-bg: rgba(221, 236, 252, 1);
  // 文件夹阴影
  --folder-box-shadow: 0px 5px 25px 0px rgba(42,139,242,0.07), 0px 7px 25px 0px rgba(42,139,242,0.03), 0px 10px 15px 0px rgba(0,0,0,0.03);
  --folder-chat-box-shadow: 0px 0px 15px 0px rgba(42,139,242,0.07), 0px 0px 15px 0px rgba(42,139,242,0.03), 0px 0px 15px 0px rgba(0,0,0,0.03);
  --second: rgba(255, 255, 255, 1);
  --hover-color: #f3f3f3;
  --bar-color: rgba(0, 0, 0, 0.1);
  --theme-color: var(--gray);
  --chat-input-panel: rgba(250, 251, 255, 1);
  --chat-input-panel-border: rgba(221, 236, 252, 1);
  --window-header: rgba(250, 251, 255, 1);
  --window-header-border: rgba(221, 236, 252, 1);
  --chat-body: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
  --chat-input: rgba(255, 255, 255, 1);
  --chat-input-color: rgba(51, 51, 51, 1);
  --chat-input-border: 1px solid rgba(215, 229, 245, 1);
  --modal-head-boder: rgba(238, 238, 238, 1);
  // 页脚字体颜色
  --gpt-footer-color: rgba(61, 61, 61, 1);
  // 头部背景
  --gpt-header-bg: #FFF;

  /* shadow */
  --shadow: 50px 50px 100px 10px rgb(0, 0, 0, 0.1);
  --card-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.05);
  --card-shadow-item: 0px 0px 15px 3px rgb(0, 0, 0, 0.12);

  /* stroke */
  --border-in-light: 1px solid rgb(222, 222, 222);
}

@mixin dark {
  --theme: dark;

  /* color */
  --white: rgba(73, 76, 84, 1);
  --white-chat: #FFFFFF;
  --sidebar-title: #FFFFFF;
  --black: rgb(187, 187, 187);
  --gray: rgb(21, 21, 21);
  --primary: rgba(42, 139, 242, 1);
  --primary-light: #FFFFFF;
  // 主色-浅色
  --primary-tint: #7CB8F7;
  // 历史会话标题颜色
  --chat-item-title: rgba(187, 187, 187, 1);
  // chat-item选中标题
  --chat-item-title-active: rgba(255, 255, 255, 1);
  // chat-item日期信息颜色
  --chat-item-info: rgba(112, 124, 151, 1);
  --chat-item-info-active: rgba(187, 187, 187, 1);
  // 历史会话左边框
  --chat-left-border: rgba(255, 255, 255, 1);
  // 文件夹内容背景
  --folder-content-bg: rgba(242, 244, 249, 0.25);
  // 文件夹阴影
  --folder-box-shadow: 0px 5px 25px 0px rgba(42,139,242,0.07), 0px 7px 25px 0px rgba(42,139,242,0.03), 0px 10px 15px 0px rgba(0,0,0,0.03);
  --folder-chat-box-shadow: 0px 0px 15px 0px rgba(42,139,242,0.07), 0px 0px 15px 0px rgba(42,139,242,0.03), 0px 0px 15px 0px rgba(0,0,0,0.03);
  --second: rgb(27 38 42);
  --hover-color: #323232;

  --bar-color: rgba(255, 255, 255, 0.1);

  --border-in-light: 1px solid rgba(255, 255, 255, 0.192);
  // 页脚字体颜色
  --gpt-footer-color: rgba(255, 255, 255, 1);
  // 头部背景
  --gpt-header-bg: rgba(32, 33, 36, 1);

  --theme-color: var(--gray);
  --chat-input-panel: rgba(73, 76, 84, 1);
  --chat-input-panel-border: rgba(73, 76, 84, 1);
  --window-header: rgba(73, 76, 84, 1);
  --window-header-border: rgba(73, 76, 84, 1);
  --chat-body: rgba(53, 54, 58, 1);
  --chat-input: rgba(255, 255, 255, 0.15);
  --chat-input-color: rgba(255, 255, 255, 1);
  --chat-input-border: 1px solid rgba(255, 255, 255, 0.15);
  --modal-head-boder: rgba(255, 255, 255, 0.15);

  div:not(.no-dark) > svg {
    filter: invert(0.5);
  }
}

.light {
  @include light;
}

.dark {
  @include dark;
}

.mask {
  filter: invert(0.8);
}

:root {
  @include light;

  --window-width: 90vw;
  --window-height: 74vh;
  --sidebar-width: 300px;
  --window-content-width: calc(100% - var(--sidebar-width));
  --message-max-width: 95%;
  --full-height: 100%;
}

@media only screen and (max-width: 600px) {
  :root {
    --window-width: 100vw;
    --window-height: var(--full-height);
    --sidebar-width: 100vw;
    --window-content-width: var(--window-width);
    --message-max-width: 95%;
  }

  .no-mobile {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}
html {
  height: var(--full-height);

  font-family: "Noto Sans SC", "SF Pro SC", "SF Pro Text", "SF Pro Icons",
    "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: var(--gray);
  color: var(--black);
  margin: 0;
  padding: 0;
  height: var(--full-height);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  touch-action: pan-x pan-y;

  @media only screen and (max-width: 600px) {
    background-color: var(--second);
  }
}

::-webkit-scrollbar {
  --bar-width: 5px;
  width: var(--bar-width);
  height: var(--bar-width);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bar-color);
  border-radius: 20px;
  background-clip: content-box;
  border: 1px solid transparent;
}

select {
  border: var(--border-in-light);
  padding: 10px;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
}

label {
  cursor: pointer;
}

input {
  text-align: center;
  font-family: inherit;
}

input[type="checkbox"] {
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  appearance: none;
  border: var(--border-in-light);
  border-radius: 5px;
  height: 16px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  content: " ";
  border-radius: 2px;
}

input[type="range"] {
  appearance: none;
  background-color: var(--white);
  color: var(--black);
}

@mixin thumb() {
  appearance: none;
  height: 8px;
  width: 20px;
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-left: 5px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb {
  @include thumb();
}

input[type="range"]::-moz-range-thumb {
  @include thumb();
}

input[type="range"]::-ms-thumb {
  @include thumb();
}

@mixin thumbHover() {
  transform: scaleY(1.2);
  width: 24px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  @include thumbHover();
}

input[type="range"]::-moz-range-thumb:hover {
  @include thumbHover();
}

input[type="range"]::-ms-thumb:hover {
  @include thumbHover();
}

input[type="number"],
input[type="text"],
input[type="password"] {
  appearance: none;
  border-radius: 10px;
  border: var(--border-in-light);
  min-height: 36px;
  box-sizing: border-box;
  background: var(--white);
  color: var(--black);
  padding: 0 10px;
  max-width: 50%;
  font-family: inherit;
}

div.math {
  overflow-x: auto;
}

.modal-mask {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--full-height);
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    align-items: flex-end;
  }
}

.link {
  font-size: 12px;
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  position: relative;

  &:hover .copy-code-button {
    pointer-events: all;
    transform: translateX(0px);
    opacity: 0.5;
  }

  .copy-code-button {
    position: absolute;
    right: 10px;
    top: 1em;
    cursor: pointer;
    padding: 0px 5px;
    background-color: var(--black);
    color: var(--white);
    border: var(--border-in-light);
    border-radius: 10px;
    transform: translateX(10px);
    pointer-events: none;
    opacity: 0;
    transition: all ease 0.3s;

    &:after {
      content: "copy";
    }

    &:hover {
      opacity: 1;
    }
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

.error {
  width: 80%;
  border-radius: 20px;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  padding: 20px;
  overflow: auto;
  background-color: var(--white);
  color: var(--black);

  pre {
    overflow: auto;
  }
}

.password-input-container {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;

  .password-eye {
    margin-right: 4px;
  }

  .password-input {
    min-width: 80%;
  }
}

.user-avatar {
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  border-radius: 10px;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-modal {
  .ant-modal-close {
    color: rgba(51, 51, 51, 1);
  }
  .ant-modal-content {
    padding: 0;
    margin: 0;
    .ant-modal-header {
      padding: 17px 24px;
      border-bottom: 1px solid var(--modal-head-boder);
    }
    .ant-modal-body {
      padding: 20px;
    }
    .ant-modal-footer {
      margin: 0 30px;
      padding: 12px 0;
    }
  }
}
.ant-btn-default {
  background: #FFF;
  border: 1px solid rgba(42, 139, 242, 1);
  font-size: 14px;
  color: rgba(42, 139, 242, 1);
}
.ant-btn-primary {
  background: linear-gradient(135deg, #60A9F6 0%, #2A8BF2 100%);
  font-size: 14px;
  color: #FFF;
}

.ant-form {
  .ant-form-item{
    // margin: 0;
    // &:last-child {
    //   margin: 0;
    // }
    color: var(--black);
    &.send-code-space {
      .ant-form-item-row {
        padding-right: 120px;
      }
    }
    .ant-form-item-label {
      >label {
        color: var(--black);
      }
      &.ant-col-1 {
        max-width: 24px;
        width: 24px;
        flex: auto;
        margin-right: 15px;
      }
    }
    .ant-form-item-control {
      &.ant-col-2 {
        flex: 1;
        max-width: 100%;
      }
      .ant-input{
        height: 40px;
        border: var(--chat-input-border);
        border-radius: 3px;
        background: var(--chat-input);
        color: var(--chat-input-color);
        &::placeholder {
          color: rgba(187, 187, 187, 1);
          font-size: 14px;
        }
      }
      .ant-form-item-control-input-content {
        display: flex;
        .ant-input-affix-wrapper {
          padding: 0 10px;
          background: var(--chat-input);
          border: var(--chat-input-border);
          .ant-input {
            max-width: initial;
            text-align: left;
            background: transparent;
            border: none;
          }
        }
        .ant-input-group-addon {
          background: var(--chat-input);
          border: var(--chat-input-border);
        }
      }
    }
  }
}
.text-form {
  .ant-form {
    .ant-form-item{
      .ant-form-item-label {
        &.ant-col-1 {
          max-width: 60px;
          width: 60px;
        }
      }
    }
  }
}

.chat-message-md.markdown-body {
  color: #FFF;
  background: transparent;
}

.chat-message-md-user.markdown-body {
  color: rgba(112, 124, 151, 1);
  background: transparent;
}

.header-main-title {
  font-size: 22px;
  color: var(--chat-item-title);
}
.header-sub-title {
  color: var(--chat-item-info-active);
}

.regist-radio {
  &.ant-radio-group {
    .ant-radio-wrapper {
      color: var(--chat-item-info-active);
      font-size: 16px;
    }
  }
}
.regist-checkbox {
  color: var(--chat-item-info-active);
  span {
    font-size: 16px;
  }
}
.register-form {
  .ant-form {
    .ant-form-item {
      margin-bottom: 18px;
    }
  }
}

