/**
 * 公共工具类 SCSS
 * @authors AndyPan (pye-mail@163.com)
 * @remark 无
 * @log 2023年6月10日21:43:57 - 创建
 */

.icon-thumb {
    display: inline-block;
}

.icon-group {
    display: flex;
}

.icon-wrap {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--primary);
    margin-left: 10px;
    outline: none;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 25px 0px rgba(42,139,242,0.07), 0px 7px 25px 0px rgba(42,139,242,0.03), 0px 10px 15px 0px rgba(0,0,0,0.03);
    
    &.icon-wrap-52 {
        width: 52px;
        height: 52px;
    }

    &:first-child {
      margin-left: 0;
    }
    &.tools-item-pc {
      background: #FFFFFF;
      box-shadow: 0px 5px 25px 0px rgba(42,139,242,0.07), 0px 7px 25px 0px rgba(42,139,242,0.03), 0px 10px 15px 0px rgba(0,0,0,0.03);
    }
}

.action-select-list {
    // padding: 15px 10px;
    display: flex;
    flex-direction: column;
    .select-list-wrap {
        flex: 1;
        display: flex;
        flex-direction: column;
        .select-list-item {
            min-height: 32px;
            flex: 1;
            display: flex;
            align-items: center;
            font-size: 12px;
            color: rgba(112, 124, 151, 1);
            cursor: pointer;
            max-width: 240px;
            min-width: 136px;
            background: #FFF;
            padding-left: 10px;
            padding-right: 36px;
            transition: all ease .3s;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
            .select-item-wrap {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &.select-item-active {
                color: rgba(42, 139, 242, 1);
                background-color: rgba(236, 242, 254, 1);
                &::after {
                    content: '';
                    width: 16px;
                    height: 16px;
                    background: url(../../icons//png/icon-check-primary.png) center right no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin-top: -8px;
                }
            }
        }
    }
}



