


.list-title {
    margin: 0;
    // padding: 8px;
    padding: 0 19px;
    transition: background-color ease 0.2s;
    flex-grow: 1;
    user-select: none;
    position: relative;
    background: linear-gradient(135deg, #60A9F6 0%, #2A8BF2 100%);
    height: 55px;
    display: flex;
    align-items: center;
    color: var(--white-chat);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    .title-text-wrap {
        display: flex;
        flex-direction: column;
        width: calc(100% - 100px);
        .title-chat-count {
            font-size: 12px;
            font-weight: normal;
            margin-top: 5px;
        }
    }
    .title-text {
        display: flex;
        width: 100%;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .icon-folder {
        display: inline-block;
        margin-right: 5px;
    }
    .icon-title-handle {
        margin-left: 5px;
        &:first-child {
            margin: 0;
        }
    }

    &:focus {
        outline: 2px solid #998DD9;
        outline-offset: 2px;
    }
}

.chat-item-wrap {
    // border-radius: 2px;
    // border: 2px solid transparent;
    // border-color: transparent;
    
    box-shadow: inset 0px 0px 10px 0px rgba(94,168,246,0.1);
    border-left: 3px solid transparent;
    border-radius: 6px;
    overflow: hidden;

    background-color: var(--white);
    cursor: pointer;
    user-select: none;
    box-shadow: none;
    box-sizing: border-box;
    padding: 10px 15px;
    min-height: 40px;
    margin-bottom: 10px;
    user-select: none;
    /* anchor overrides */
    color: #091E42;
    position: relative;

    &.current {
        border-color: var(--chat-left-border);
        .chat-item-title {
            color: var(--chat-item-title-active);
        }
        .chat-item-info {
            color: var(--chat-item-info-active);
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.is-dragging {
        border-color: rgba(9, 30, 66, 0.71);
        box-shadow: 2px 2px 1px #A5ADBA;
    }

    &:hover,
    &:active {
        color: #091E42;
        text-decoration: none;
    }

    &:focus {
        outline: none;
        border-color: rgba(9, 30, 66, 0.71);
        box-shadow: none;
    }

    /* flexbox */
    display: flex;
    
    .chat-item-delete {
        position: absolute;
        top: 10px;
        right: 15px;
        transition: all ease 0.3s;
        opacity: 1;
        cursor: pointer;
    }
}
.chat-item {
    /* flex child */
    flex-grow: 1;

    /*
        Needed to wrap text in ie11
        https://stackoverflow.com/questions/35111090/why-ie11-doesnt-wrap-the-text-in-flexbox
    */
    flex-basis: 100%;

    /* flex parent */
    display: flex;
    flex-direction: column;
    position: relative;

    .chat-item-title {
        font-size: 14px;
        font-weight: bolder;
        display: block;
        width: calc(100% - 15px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        animation: slide-in ease 0.3s;
        color: var(--chat-item-title);
    }
    &.chat-item-selected {
        &::after {
          left: 17px;
        }
    }
    .chat-item-info {
        display: flex;
        justify-content: space-between;
        color: var(--chat-item-info);
        font-size: 12px;
        margin-top: 8px;
        animation: slide-in ease 0.3s;
      }
      
    .chat-item-count,
    .chat-item-date {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.block-quote {
    &::before {
        content: open-quote;
    }

    &::after {
        content: close-quote;
    }
}

.div-wrapper {
    // background-color: #EBECF0;
    display: flex;
    flex-direction: column;
    padding: 18px 10px 8px 10px;
    // border: 8px;
    transition: background-color 0.2s ease, opacity 0.1s ease;
    user-select: none;
    min-height: 50px;
    transition: all ease .2s;
    &.null-folder {
        justify-content: center;
        align-items: center;
        &::before {
            content: '暂无会话';
            font-size: 14px;
            color: rgba(112, 124, 151, .5);
        }
    }
    &.last-placeholder {
        min-height: 100%;
    }
    // width: 250px;
    // &.is-dragging-over {
    //     background-color: #FFEBE6;
    // }
    // &.is-dragging-from {
    //     background-color: #E6FCFF;
    // }
    &.is-drop-disabled {
        opacity: .5;
    }
}
.scroll-container {
    overflow-x: hidden;
    overflow-y: auto;
    // 文件夹相关
    // max-height: 150px;
    // 文件夹相关
}
.drop-zone {
    /* stop the list collapsing when empty */
    // min-height: 150px;

    /*
        not relying on the items for a margin-bottom
        as it will collapse when the list is empty
    */
    min-height: 100%;
    padding-bottom: 8px;
}


.drop-container {
    // background-color: #4C9AFF;
    // min-height: 100vh;
    /* like display:flex but will allow bleeding over the window width */
    // min-width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.drag-container {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    // 文件夹相关
    // margin: 8px;
    // background: var(--folder-content-bg);
    // box-shadow: var(--folder-box-shadow);
    // 文件夹相关
    // position: relative;
    // z-index: 2;
    &.chat-folder {
        background: none;
        box-shadow: none;
        margin: 0;
        padding: 10px 8px;
        .chat-item-wrap {
            margin-bottom: 16px;
            box-shadow: var(--folder-chat-box-shadow);
            box-sizing: border-box;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .drag-header {
            display: none;
        }
        .div-wrapper {
            min-height: initial;
            padding: 0px;
        }
        .drop-zone {
            padding: 0;
        }
        &.chat-folder-last {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    &.folder-expand {
        .drag-header {
            .list-title {
                height: 70px;
            }
        }
        .div-wrapper {
            height: 0;
            min-height: 0;
            padding: 0;
            margin: 0;
            overflow: hidden;
            .drop-zone {
                opacity: 0;
            }
        }
    }
}
.drag-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #EBECF0;
    transition: all 0.2s ease;

    &.is-dragging {
        background-color: #E3FCEF;
    }
    &:hover {
        background-color: #E3FCEF;
    }
}

.delete-confirm-text {
    color: var(--chat-item-info-active);
    .text-name {
        color: var(--primary);
        font-weight: bold;
    }
}

