

.dd-context-wrap {
    background-color: #2684FF;
    box-sizing: border-box;
    padding: 16px;
    min-height: 100vh;

    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.column {
    margin: 0 16px;
}
.context-container,
.nested-container {
    background-color: #B3D4FF;
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-bottom: 0;
    user-select: none;
    transition: background-color 0.1s ease;

    &:focus {
        outline: 2px solid #8777D9;
        outline-offset: 2px;
    }
    &.draggingover {
        background-color: #DEEBFF;
    }
}
.nested-container {
    padding: 0;
    margin-bottom: 8px;
}

.list-title {
    margin: 0;
    padding: 8px;
    transition: background-color ease 0.2s;
    flex-grow: 1;
    user-select: none;
    position: relative;

    &:focus {
        outline: 2px solid #998DD9;
        outline-offset: 2px;
    }
}

.quote-item-wrap {
    border-radius: 2px;
    border: 2px solid transparent;
    border-color: transparent;
    background-color: #FFF;
    box-shadow: none;
    box-sizing: border-box;
    padding: 8px;
    min-height: 40px;
    margin-bottom: 8px;
    user-select: none;
    /* anchor overrides */
    color: #091E42;

    &.is-dragging {
        border-color: rgba(9, 30, 66, 0.71);
        box-shadow: 2px 2px 1px #A5ADBA;
    }

    &:hover,
    &:active {
        color: #091E42;
        text-decoration: none;
    }

    &:focus {
        outline: none;
        border-color: rgba(9, 30, 66, 0.71);
        box-shadow: none;
    }

    /* flexbox */
    display: flex;
}
.quote-content {
    /* flex child */
    flex-grow: 1;

    /*
        Needed to wrap text in ie11
        https://stackoverflow.com/questions/35111090/why-ie11-doesnt-wrap-the-text-in-flexbox
    */
    flex-basis: 100%;

    /* flex parent */
    display: flex;
    flex-direction: column;
}
.block-quote {
    &::before {
        content: open-quote;
    }

    &::after {
        content: close-quote;
    }
}

.div-wrapper {
    background-color: #EBECF0;
    display: flex;
    flex-direction: column;
    opacity: 'inherit';
    padding: 8px;
    border: 8px;
    padding-bottom: 0;
    transition: background-color 0.2s ease, opacity 0.1s ease;
    user-select: none;
    // width: 250px;
    &.is-dragging-over {
        background-color: #FFEBE6;
    }
    &.is-dragging-from {
        background-color: #E6FCFF;
    }
    &.is-drop-disabled {
        opacity: .5;
    }
}
.scroll-container {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 150px;
}
.drop-zone {
    /* stop the list collapsing when empty */
  min-height: 150px;

  /*
    not relying on the items for a margin-bottom
    as it will collapse when the list is empty
  */
  padding-bottom: 8px;
}


.drop-container {
    background-color: #4C9AFF;
    // min-height: 100vh;
    /* like display:flex but will allow bleeding over the window width */
    // min-width: 100vw;
    display: flex;
    flex-direction: column;
}
.drag-container {
    margin: 8px;
    display: flex;
    flex-direction: column;
}
.drag-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #EBECF0;
    transition: background-color 0.2s ease;

    &.is-dragging {
        background-color: #E3FCEF;
    }
    &:hover {
        background-color: #E3FCEF;
    }
}
